/*Fonts*/

@font-face {
  font-family: "PT Sans Narrow";
  src: url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans Narrow";
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprum.woff2") format("woff2"),
    url("../fonts/cuprum.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumitalic.woff2") format("woff2"),
    url("../fonts/cuprumitalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumbold.woff2") format("woff2"),
    url("../fonts/cuprumbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/*Variables*/
:root {
  --black: #000000;
  --white: #ffffff;
  --matt-white-2: #F3F7F9;
  --greylight: #C5C5C5;
  --border-catalog-pag: #E5E5E5;
  --dark-blue: #32425C;
  --blue-darknest: #3D546F;
  --blue: #293449;
  --very-blue: #161D29;
  --dark-steel-blue: #1D2739;
  --cyan: #3BBCE3;
  --green: #63A63E;
  --success: #5FBB2D;
  --light-green: #8ED78F;
  --dark-green: #518534;
  --pink: #DC91D8;
  --amber-light: #F4F4F4;
  --light-orange: #FFDA96;
  --special-yellowlight: #FFD180;
  --amber: #FFBF47;
  --orange: #FFC047;
  --linen: #F9F5F0;
  --red: #EE3643;
  --darknest-red: #CA2C37;
  --dark-red: #BA2732;
  --grey: #F1F5F7;
  --grey-greylight: #EAEAEA;
  --dark-grey: #A9A9A9;
  --sort-background: #F7F3EC;

  --background-white50: rgb(241, 245, 247, 0.5);
  --transparent-white30: rgba(255, 255, 255, 0.3);
  --transparent-white50: rgba(255, 255, 255, 0.5);
  --transparent-greylight30: rgba(197, 197, 197, 0.3);
  --transparent-dark-grey30: rgba(169, 169, 169, 0.3);
  --transparent-black30: rgba(0, 0, 0, 0.3);
  --transparent-black25: rgba(0, 0, 0, 0.25);
  --transparent-dark-blue50: rgb(50, 66, 92, 0.5);
  --transparent-special-yellowlight50: rgb(255, 209, 128, 0.5);

  --text-color: var(--black);
  --title-color: var(--dark-blue);
  --link-hover-white50: var(--background-white50);
  --link-hover-login: var(--red);
  --background-basic: var(--grey);
  --copyright-color: var(--matt-white-2);
  --filer-background: var(--sort-background);


  /*Fonts*/
  --main-font: Cuprum, Tahoma, sans-serif;
  --secondary-font: "PT Sans Narrow", Arial, sans-serif;

  --font-link-body: 18px;
  --lh-link-body: 24px;
  --weight-normal: normal;
  --weight-bold: bold;
}


.page-body {
  min-width: 960px;
  margin: 0 auto;
  padding: 0;
  font-family: var(--main-font);
  font-size: 13px;
  line-height: 24px;
  font-weight: var(--weight-normal);
  color: var(--black);
  background-color: var(--white);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.page {
  height:100%;
}

.page-header {
  background-color: var(--grey);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.header-top {
  font-size: var(--font-link-body);
  line-height: var(--lh-link-body);
  font-weight: var(--weight-normal);
  height: 42px;
  color: var(--white);
  background-color: var(--blue);

}

.header-logo {
  width: 220px;
  height: 42px;
  background-color: var(--red);
  border-bottom: 5px solid #000;
}

.header-logo:active {
  background-color: var(--dark-red);
}

.search-button {
  width: 42px;
  border: none;
  background: transparent;
  background-position: 17px 17px;
  background-image: url(../img/icons/search-icon.svg);
  background-repeat: no-repeat;
}

.search-form {
  color: var(--white);
  background-color: var(--blue);
}

.user-nav {

  font-family: inherit;
  font-weight: var(--weight-normal);
  font-size: var(--font-link-body);
  line-height: var(--lh-link-body);
  color: var(--white);
}

.user-nav-bookmarks {
  text-decoration: none;
  padding: 9px 24px 9px 43px;
  color: var(--white);
  width: 150px;
  height: 42px;
  background-color: var(--blue);
}


/* .user-nav-bookmarks::before {
  content: "";
  background-image: url("../img/icons/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

}
 */
.user-nav-bookmarks:active {
  color: var(--link-hover-white50);
  background-color: var(--very-blue);
}

.user-nav-bookmarks:active::before {
  color: var(--link-hover-white50);
}

.user-nav-bookmarks:hover::before {
  color: var(--white);
}

.user-nav--cart {
  text-decoration: none;
  color: var(--white);
}

.user-nav--cart:active {
  color: var(--link-hover-white50);
}

.user-nav--order {
  text-decoration: none;
  color: var(--white);
  background-color: var(--green);
}

.user-nav--order:hover {
  background-color: var(--success);
}

.user-nav--order:active {
  color: var(--link-hover-white50);
}

.promo-text {
  font-size: 16px;
  line-height: 23px;
  color: var(--red);
}

.header-contacts-tel {
  text-decoration: none;
  font-weight: var(--weight-bold);
  font-size: 21px;
  line-height: 30px;
  color: var(--red);
  border: 3px solid var(--white);
}

.header-contacts-add {
  font-weight: var(--weight-bold);
  font-size: 14px;
  line-height: 24px;
  color: var(--dark-blue);
}

.user-block {
  font-size: 21px;
  line-height: 21px;
}

.user-block-in {
  text-decoration: none;
  color: var(--black);
  background-color: var(--white);
}

.user-block-registr {
  text-decoration: none;
  color: var(--black);
  background-color: var(--white);
}

.header-user-active {
  text-decoration: none;
  color: var(--black);
}

.header-user {
  background-color: var(--white);
}

.my-profile,
.my-ordered {
  text-decoration: none;
  color: var(--dark-blue);
}

.header-user-link-profile {
  list-style: none;
}

.user-block-in:hover,
.user-block-registr:hover,
.my-ordered:hover,
.my-profile:hover {
  color: var(--link-hover-login);
}

.user-block-in:active,
.user-block-registr:active,
.header-user-active:active,
.header-user-logout:active,
.my-profile:active,
.my-ordered:active,
.header-user-active:active {
  color: var(--greylight)
}
.header-navigation {
  font-family: var(--main-font);
  font-weight: var(--weight-normal);
  background-color: var(--dark-blue);
}

.header-navigation-list {
  list-style: none;
}

.navigation-list-item-link {
  font-size: var(--font-link-body);
  line-height: var(--lh-link-body);
  text-decoration: none;
  color: var(--white);
}

.navigation-list-item-link:hover {
  background-color: var(--blue);
}

.navigation-list-item-link:active {
  color: var(--link-hover-white50);
  background-color: var(--dark-steel-blue);
}

/* Main */
.bread-crumbs {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  list-style: none;
  text-decoration: none;
  font-family: var(--secondary-font);
}

.bread-crumbs-icon,
.bread-crumbs-link {
  text-decoration: none;
  color: var(--text-color);
}

.sort-background {
  background-color: var(--sort-background);
}

.sorting {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 17px;
  font-family: var(--secondary-font);
}

.sorting-title {
  font-family: var(--secondary-font);
  font-size: 13px;
  line-height: 17px;
  font-weight: var(--weight-normal);
}

.sorting-filter {
  list-style: none;
}

.sort-by-link {
  text-decoration: none;
  color: var(--transparent-black30);
  border-bottom: 1px dashed var(--red);
}

.active-sort {
  border-bottom: none;
  color: var(--red);
}

.sort-by-link:hover {
  color: var(--black);
  border-bottom: 1px solid var(--red);

}

.filter {
  font-family: var(--secondary-font);
  text-transform: uppercase;
}

.filter-title {
  font-size: 17px;
  line-height: 30px;
  font-weight: var(--weight-bold);


}

.filter-button {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: white;
  border: 1px solid var(--border-catalog-pag);
}

.material-box {
  background-color: var(--amber);
}

.tool-box {
  background-color: var(--cyan);
}

.technics-box {
  background-color: var(--pink);
}

.discount-box {
  background-color: var(--basic-light-green);
}

.delivery-box {
  background-color: var(--amber);
}

.material-box-subtitle {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--white);
}

.button-offer {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--white);
  background-color: var(--transparent-white30);
}

.button-offer:hover {
  background-color: var(--transparent-greylight30);
}

.button-offer:active {
  background-color: var(--transparent-dark-grey30);
}

.puncher {
  font-family: var(--main-font);
  color: var(--white);
  background-color: var(--transparent-black25);
}

.puncher-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.puncher-title-text {
  font-size: var(--font-link-body);
  line-height: var(--lh-link-body);
}

.red-button {
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--red);
  border: none;
}

.red-button:hover {
  background-color: var(--darknest-red);
}

.red-button:active {
  background-color: var(--dark-red);
}

.popular-header {
  background-color: var(--basic-linen);
}

.popular-header-title {
  font-weight: var(--weight-normal);
  font-size: 30px;
  line-height: 30px;
  color: var(--title-color);
  text-transform: uppercase;
}

/* .popular-items-block  {
  
}
 */
.item-block {
  border: 1px solid var(--grey-greylight);
}

.item-button-buy {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--green);
}

.item-button-buy:hover {
  background-color: var(--success);
}

.item-button-buy:active {
  background-color: var(--dark-green);
}

.item-button-bookmarks {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--black);
  background-color: var(--white);
  border: 3px solid var(--green);
}

.item-button-bookmarks:hover {
  color: var(--dark-blue);
  background-color: var(--white);
  border: 3px solid var(--dark-blue);
}

.item-button-bookmarks:active {
  color: var(--transparent-dark-blue50);
  background-color: var(--white);
  border: 3px solid var(--transparent-dark-blue50);
}

.item-block-link {
  text-decoration: none;
  font-family: var(--secondary-font);
  font-weight: var(--weight-bold);
}

.item-block-title {
  font-size: 18px;
  line-height: 20px;
  color: var(--black);
}

.item-block-price {
  font-family: var(--secondary-font);
  font-weight: var(--weight-bold);
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
}

.item-block-oldprice {
  text-decoration-line: line-through;
  color: var(--dark-grey);
}

.item-block-newprice {
  color: var(--white);
}

.catalog-pagination-list {
  list-style: none;
}

.catalog-pagination-item {
  font-family: var(--secondary-font);
  color: var(--black);
  text-decoration: none;
  border: 1px solid var(--border-catalog-pag);
}

.catalog-pagination-item-current {
  background-color: var(--red);
}

.catalog-pagination-item:hover {
  border: 1px solid var(--greylight);
}

.catalog-pagination-item:active {
  border: 1px solid var(--red);
}

.popular-brand-item {
  list-style: none;
  border: 1px solid var(--grey-greylight);
}

.services {
  background-color: var(--grey);
}

.service-title {
  font-weight: var(--weight-normal);
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.delivery-title {
  color: var(--title-color);
}

.service-text {
  font-family: var(--secondary-font);
  font-size: 13px;
  line-height: 24px;
}

.service-tabs-button {
  font-weight: var(--weight-bold);
  font-size: 21px;
  line-height: 30px;
  cursor: pointer;
  /* Ради интереса поставил, если здесь не нужен могу убрать */
  color: var(--white);
  background-color: var(--dark-blue);
}

.service-tabs-button:hover {
  color: var(--white);
  background-color: var(--blue);
}

.service-tabs-button:active {
  color: var(--dark-blue);
  background-color: var(--white);
}

.transport-items {
  font-size: var(--font-link-body);
  line-height: var(--lh-link-body);
  list-style: none;
}

.description-item {
  background-color: var(--background-basic);
}

/* Footer */

.footer-top,
.footer-middle {
  background-color: var(--dark-blue);
}

.footer-navigation-list {
  font-size: var(--font-link-body);
  line-height: var(--lh-link-body);
  list-style: none;
  color: var(--white);
}

.footer-list-item-link {
  text-decoration: none;
  color: var(--white);
}

.footer-list-item-link:active {
  color: var(--background-white50);
  text-decoration: none;
}

.footer-adress {
  font-size: var(--font-link-body);
  line-height: var(--lh-link-body);
  color: var(--copyright-color);
}

.footer-tel {
  text-decoration: none;
}

.footer-offers-item-link {
  text-decoration: none;
  color: var(--special-yellowlight);
}

.footer-list-item-link:hover,
.footer-offers-item-link:hover,
.footer-feedback-link:hover,
.footer-copy-link:hover {
  text-decoration-line: underline;
}

.footer-offers-item-link:active {
  color: var(--transparent-special-yellowlight50);
  text-decoration: none;
}

.footer-bottom {
  background-color: var(--blue);
}

.footer-copyright {
  font-size: var(--font-link-body);
  line-height: var(--lh-link-body);
  color: var(--copyright-color);
}

.footer-social-link:hover,
.footer-social-link:active {
  background-color: var(--red);
}

.footer-feedback {
  font-size: 16px;
  line-height: 18px;
  color: var(--white);
}

.footer-feedback-link {
  color: var(--special-yellowlight);
  text-decoration: none;
}

.footer-feedback-link:active,
.footer-copy-link:active {
  color: var(--red);
  text-decoration: none;
}

.footer-copy {
  color: var(--white);
  font-size: 16px;
  line-height: 18px;
}

.footer-copy-link {
  color: var(--special-yellowlight);
  text-decoration: none;
}

/* feedback modal form */
.modal-text {
  font-size: var(--font-link-body);
  line-height: var(--lh-link-body);
}

.modal-desc {
  font-family: var(--secondary-font);
  font-size: 13px;
  line-height: 24px;
  color: var(--dark-grey);
  border: 2px solid var(--greylight);
  outline: none;
}

.modal-feedback-button {
  background-color: var(--amber-light);
}

.modal-cart-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: var(--weight-bold);
}

.modal-cart-cancel {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: black;
  background-color: white;
  border: none;
  outline: none;
}
