404.html Файл с настройками для редактора.
404.html
404.html Если вы разрабатываете в редакторе WebStorm, BBEdit, Coda или SourceLair
404.html этот файл уже поддерживается и не нужно производить никаких дополнительных
404.html действий.
404.html
404.html Если вы ведёте разработку в другом редакторе, зайдите
404.html на https://editorconfig.org и в разделе «Download a Plugin»
404.html скачайте дополнение для вашего редактора.

root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false
